<%- layout('layout') -%>

<%- include('navbar') -%>

    <section grid>
        <h1>About us</h1>
           <p>
               
           </p>
    </section>

    <section grid>
        <h1></h1>
           <p>
               
           </p>
    </section>