<% layout('layout') -%>

    <nav class=" flex justify-between bg-sky-400 px-3 py-2  ">
        <a href="/">Hachiko Finder</a>
        <div>
            <button class="">
                <a href="/reg">
                    Register
                </a>
            </button>
            <button class="">
                <a href="/log">
                    Log In
                </a>
            </button>
        </div>
    </nav>

    <section class="flex">

        <section class="grid grid-cols-5 py-2 px-2 gap-2">
            <section class="col-start-1 col-span-5 px-2 py-2 drop-shadow-2xl bg-orange-300 rounded-lg">
                <h2 class="text-3xl">¡Hola!</h2>
                <img src="../images/goodboy.jpg" alt="//dogo img" class="rounded-lg box-content h-64 w-64">
                <p>Bienvenido a hachiko, la pagina donde encontraras a tu amigo mascota perpida. El proposito de esta
                    aplicacion es la de crear una comunidad amante de animales que se ayude cuando se extravie tu amigo.
                    Para poder formar parte de esta comunidad y poder contribuir es necesario iniciar sesion.</p>
                <button
                    class="bg-sky-400 hover:bg-sky-500 active:bg-sky-600 focus:outline-none focus:ring focus:ring-sky-200 rounded-full px-1 py-1">Registrate
                    ya</button>
            </section>

            <section class="col-start-1 col-end-3 px-2 py-2 bg-green-300 rounded-lg drop-shadow-2xl">
                <h2 class="text-2xl">Quiero hacer un reporte</h2>
                <img src="../images/paw.jpg" alt="//patita" class="rounded-lg box-content h-60 w-64">
                <p>Para hacer un reporte es importante haberse registrado y tener una sesion. Hacer un reporte es la
                    forma en la que nuestra comunidad podra saber tu historia y por donde comenzar. No hay mejor ayuda
                    que la de alguien sepa lo valioso que es una mascota.</p>
                <button
                    class="bg-sky-400 hover:bg-sky-500 active:bg-sky-600 focus:outline-none focus:ring focus:ring-sky-200 rounded-full px-1 py-1">Genera
                    tu reporte</button>
            </section>

            <section class="col-start-3 col-end-6 px-2 py-2 bg-purple-300 rounded-lg drop-shadow-2xl">
                <h2 class="text-2xl">Quiero ayudar</h2>
                <img src="../images/waving.avif" class="rounded-lg box-content h-64 w-64" alt="//chavo">
                <p>Para buscar reportes es importante haberse resgistrado y tener una sesion. Como miembro de la
                    comunidad de Hachiko puedes revisar los infromes de mascotas perdidas cercanas a tu ubicacion. Es la
                    manera de poder ayudar no solo a nuestra comunidad sino a la comunidad donde vives</p>
                <button
                    class="bg-sky-400 hover:bg-sky-500 active:bg-sky-600 focus:outline-none focus:ring focus:ring-sky-200 rounded-full px-1 py-1">Buscar
                    cerca de mi</button>
            </section>
            <section class="col-start-1 col-span-5  bg-amber-300 rounded-lg drop-shadow-2xl px-2 py-2">
                <h2 class="text-2xl">Algo mas</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque sed illum nisi ut voluptas?
                    Alias officia minima laboriosam eveniet quia placeat temporibus nihil possimus. Eos eaque fugiat
                    iusto porro? Laborum.</p>

            </section>
            <section class="col-start-1 col-span-5  bg-red-500 rounded-lg drop-shadow-2xl px-2 py-2">
                <h2 class="text-2xl">About us</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque sed illum nisi ut voluptas?
                    Alias officia minima laboriosam eveniet quia placeat temporibus nihil possimus. Eos eaque fugiat
                    iusto porro? Laborum.</p>

            </section>
        </section>

    </section>
    <footer class="bg-sky-600 px-2 py-2">
        Nuestro contactos
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. At molestiae temporibus consectetur facilis ipsa
            deleniti veniam, saepe soluta! Iste ex illo molestias rerum reiciendis. Dolore porro assumenda officiis
            nesciunt quod!
            Sit deleniti voluptates ipsam molestiae provident eaque vitae sed, nihil corrupti enim quibusdam ut? Eos
            magni eveniet dolorem maiores quidem provident, itaque ipsum porro, vitae excepturi voluptatum illo nostrum
            rem!
            Vel hic ipsa aliquam? Accusantium voluptatem fugiat, esse earum officia quam quas autem, alias nihil quasi
            maiores cumque atque ex, vero odit! Veniam quam sint sed a quidem atque natus.
        </p>
    </footer>