<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hachiko</title>
        <link href="../styles/output.css" rel="stylesheet">
    </head>
    <body class="bg-cover" background="../images/dogbg.jpg">
        
            <section class="flex">
    
                <section class="grid grid-cols-3 grid-rows-3  py-2 px-2 gap-2">
                
                    <section class="col-start-2 col-end-3 row-start-2 bg-amber-300 rounded-lg drop-shadow-2xl px-2 py-2">
                        <h2 class="text-2xl">Log In</h2>
                        <table>
                            <tr>
                                <td>
                                Correo
                                </td>
                                
                            </tr>
                            <tr>
                                <td>
                                    <form action="/url" method="GET">
                                        <input type="text">
                                    </form>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                Contraseña
                                </td>
                                
                                
                            </tr>
                            <tr>
                                <td>
                                    <form action="/url" method="GET">
                                        <input type="text">
                                    </form>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button class="bg-blue-500 rounded-lg px-2 py-2">hola</button>
                                </td>
                            </tr>
                        </table>
                        

                    
                        <a href="/reg" class="underline font">
                            No tienes cuenta? Registrate
                        </a>
                    </section>
                
                </section>

            </section>
   
    </body>
</html>