 <nav class=" flex items-center justify-between bg-teal-500 px-3 py-2 text-white ">
        <a href="/" class="text-4xl">PawSeekers</a>
        
            <a href="/find">Join the search</a>
            <a href="">Reports</a>
            <a href="">Adopt</a>        
        <div>
            <% if(user) {%>
                <a href="#">Profile</a>
                <a href="/logout">Logout</a>
            <% } else {%>
                <a href="/log"> Log In </a>
             <% } %>
        </div>
    </nav>