 <nav class=" flex items-center justify-between bg-teal-600 px-3 py-2 text-white ">
        <a href="/" class="text-4xl">PawSeekers</a>
        
            <a href="">Home</a>
            <a href="">Reports</a>
            <a href="">Adopt</a>        
        <div>
            <button class="">
                <a href="/reg">
                    Register
                </a>
            </button>
            <button class="hover:bg-white hover:text-black">
                <a href="/log">
                    Log In
                </a>
            </button>
        </div>
    </nav>