<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicitud de busqueda</title>
    <link href="../styles/output.css" rel="stylesheet">
</head>
<body>
    <form action="/aqui es la redireccion aun no hecha" method="post">
        <ul>
            <li>
              <label for="namePet">Nombre de la mascota:</label>
              <input type="text" id="namePet" name="pet_name" placeholder="Timmy">
            </li>
            <li>
              <label for="charaPet">Caracteristicas del animal:</label>
              <input type="text" id="charaPet" name="pet_chara" placeholder="Perro blanco de 2 metros">
            </li>
            <li>
              <label for="signalsPet">Señas particulares:</label>
              <input type="text" id="signalsPet" name="pet_signals" placeholder="Tiene un dedo extra en la pata superior derecha">
            </li>
            <li>
                <label for="trackPet">Ultima localizacion conocida:</label>
                <input type="text" id="trackPet" name="pet_track" placeholder="Col. Juarez, en la esquna de Chesse Pizza y Salida Cuahutemoc">
            </li>
            <li>
                <label for="numUser">Numero de contacto:</label>
                <input type="text" id="numUser" name="user_num" placeholder="614-xxx-xxx">
            </li>
            <li>
                <input type="checkbox" id="angryPet" name="pet_angry" placeholder="angryness">
                <label for="angryPet">¿El animal es agresivo?</label>
            </li>
            <li>
                <label for="photoPet">Suba una foto de su mascota para ayudar a los buscadores</label>
                <input type="file" id="photoPet" name="pet_photo" >
            </li>
        </ul>
        <input type="submit" value="Submit">
    </form>
</body>
</html>